.prices-subtitle {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 10%;
}

.prices-subtitle img {
    width: 40%;
    position: relative;
    border-radius: 15px;
}

#pricesTitle {
    font-size: 10vw;
    position: absolute;
    margin-left: 20%;
    margin-bottom: 2%;
}

@media (max-width: 650px) {
    #pricesTitle {
        font-size: 11vw;
    }
}

@media (max-width: 400px) {
    #pricesTitle {
        font-size: 13vw;
    }
}