.projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 30%;
    border-radius: 15px;
    margin-bottom: 2%;
    margin-top: 2%;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.image-container img {
    min-width: 100%;
}

.image-container:hover img {
    cursor: pointer;
}

.image-container:hover p {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.image-container img {
    width: 30%;
}

.card-body {
    padding: 24px;
}
  
#card-title {
    margin: 0 0 18px 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 1% auto;
    padding: 20px;
    background-color: #fefefe;
    border-radius: 15px;
    border: 1px solid #888;
}

.modal-content img {
    align-self: center;
    width: 80%;
    border-radius: 10px;
}

.modal-content .arrow {
    width: 5%;
}

.project-title {
    font-size: 26px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.project-description {
    text-align: justify;
}

@media (max-width: 1400px) {
    .modal-content {
        width: 60%;
    }
}

@media (max-width: 1200px) {
    .modal-content {
        width: 63%;
    }
}

@media (max-width: 1100px) {
    .modal-content {
        width: 65%;
    }
}

@media (max-width: 1000px) {
    .modal-content {
        width: 70%;
        margin: 2% auto;
    }
}

@media (max-width: 900px) {
    .modal-content {
        width: 80%;
    }
}

@media (max-width: 800px) {
    .modal-content {
        width: 90%;
        margin: 5% auto;
    }
}

@media (max-width: 750px) {
    .project-card {
        width: 48%;
    }
}

@media (max-width: 500px) {
    .modal-content {
        width: 90%;
        margin: 30% auto;
    }

    .modal-content .arrow {
        width: 7%;
    }
}