.about-me {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 10%;
    font-size: 1.4vw;
    margin-bottom: 5%;
}

.introduction {
    width: 100%;
    margin-bottom: 10%;
    text-align: justify;
}

.about-me-wrapper {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.about-me-wrapper img {
    width: 30%;
    margin-bottom: 5%;
}

.description {
    text-align: center;
}

@media (max-width: 1200px) {
    .about-me {
        font-size: 1.8vw;
    }

    .about-me-wrapper img {
        width: 35%;
    }
}

@media (max-width: 1024px) {
    .about-me {
        font-size: 2.5vw;
    }
}

@media (max-width: 768px) {
    .about-me {
        flex-direction: column;
        font-size: 3.5vw;
    }

    .introduction {
        width: 90%;
    }

    .about-me-wrapper {
        width: 80%;
        margin-bottom: 10%;
    }

    .about-me-wrapper img {
        width: 20%;
    }
}

@media (max-width: 480px) {
    .about-me {
        font-size: 4vw;
    }

    .about-me-wrapper {
        width: 90%;
    }
}
