.about-me {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10%;
    font-size: 1.3vw;
}

.about-me-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.about-me-wrapper img {
    width: 30%;
    margin-bottom: 5%;
}

.description {
    text-align: center;
}

@media (max-width: 1024px) {
    .about-me {
        font-size: 1.6vw;
    }
}

@media (max-width: 750px) {
    .about-me {
        flex-direction: column;
        font-size: 2.5vw;
    }

    .about-me-wrapper {
        width: 70%;
        margin-bottom: 10%;
    }

    .about-me-wrapper img {
        width: 20%;
    }
}

@media (max-width: 550px) {
    .about-me {
        font-size: 3vw;
    }

    .about-me-wrapper {
        width: 90%;
    }
}

@media (max-width: 450px) {
    .about-me {
        font-size: 4vw;
    }
}