.prices-subtitle {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 5%;
}

.prices-subtitle img {
    width: 40%;
    position: relative;
    border-radius: 15px;
}

#pricesTitle {
    font-size: 8vw;
    position: absolute;
    margin-left: 20%;
    margin-bottom: 3%;
}

@media (max-width: 1200px) {
    #pricesTitle {
        font-size: 9vw;
    }
}

@media (max-width: 1024px) {
    #pricesTitle {
        font-size: 10vw;
        margin-left: 25%;
    }
}

@media (max-width: 768px) {
    #pricesTitle {
        font-size: 11vw;
        margin-left: 27%;
        margin-bottom: 6%;
    }
}