.prices {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-bottom: 10%;
}

.category {
    font-size: 1.8vw;
    width: 46%;
    padding: 4% 2% 4% 2%;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;
}

.line {
    width: 60%;
    height: 5px;
    background-color: black;
    border-radius: 15px;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 1%;
}

@media (max-width: 1200px) {
    .category {
        font-size: 2vw;
    }
}

@media (max-width: 1024px) {
    .category {
        font-size: 3vw;
    }

    .line {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .prices {
        flex-direction: column;
    }

    .category {
        font-size: 4vw;
        width: 90%;
    }

    .line {
        width: 70%;
    }
}

@media (max-width: 480px) {
    .category {
        font-size: 5vw;
    }

    .line {
        width: 60%;
        height: 4px;
    }
}