.projects-subtitle {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 10%;
}

.projects-subtitle img {
    width: 100%;
    position: relative;
    border-radius: 15px;
}

#projectTitle {
    font-size: 8vw;
    position: absolute;
    margin-left: 5%;
    margin-bottom: 5%;
}

#reference {
    font-size: 2vw;
    position: absolute;
    margin-left: 5.5%;
    margin-bottom: 2%;
}

@media (max-width: 650px) {
    #projectTitle {
        font-size: 9vw;
        margin-bottom: 6%;
    }

    #reference {
        font-size: 3vw;       
    }
}

@media (max-width: 400px) {
    #projectTitle {
        font-size: 11vw;
        margin-bottom: 8%;
    }

    #reference {
        font-size: 4vw;
    }
}